<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.GuestDAO">
	<select id="getGuestList" resultType="com.spring.javawspring.vo.GuestVO">
		select * from guest order by visitDate desc limit #{stratIndexNo},#{pageSize};
	</select>
	<select id="totRecCnt" resultType="int">
		select count(*) from guest;
	</select>
	
	<insert id="setGuestInput">
		insert into guest values(default,#{vo.name},#{vo.email},#{vo.homePage},default,#{vo.hostIp},#{vo.content});
	</insert>
	
	<delete id="setGuestDeleteOk">
		delete from guest where idx = #{idx};
	</delete>
	
</mapper>